@model IEnumerable<RestauranteAPP_TP3.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
}

<h1>Lista de Reservas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Reserva</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Usuário</th>
            <th>Numero de Pessoas</th>
            <th>Data/Hora</th>
            <th>Código Confirmação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Usuario?.Nome</td>
                <td>@item.Mesa?.Numero</td>
                <td>@item.DataHora.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.CodigoConfirmacao</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
